{% extends 'base.html.twig' %}

{% block title %}Registro de usuarios{% endblock %}

{% block contenedor_principal %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    
    <div class="row">
        <div class="col-12 text-center"><h1 class="h3 mb-3 font-weight-normal">Registro</h1></div>
        <div class="col-4 offset-4">
        
            {{ form_start(registrationForm, {
                attr : {novalidate: 'novalidate'}
            }) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn btn-outline-info">Registrar</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
