{% extends 'base.html.twig' %}

{% block contenedor_principal %}
    <h1>Listado categorias</h1>
    
    {% include 'comunes/_mensajes.html.twig' %}
    
    <table class="table">
        <thead class="text-center">
            <th>Nombre</th>
            <th>Color</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            {% for categoria in categorias %}
                <tr>
                    <td>{{ categoria.nombre }}</td>
                    <td>{{ categoria.color }}</td>
                    <td class="text-right">
                        <a class="btn btn-warning" href="{{ path('app_editar_categoria', {'id': categoria.id })}}"><i class="fas fa-pencil-alt"></i></a>
                        <a class="btn btn-danger" href="{{ path('app_eliminar_categoria', {'id': categoria.id })}}"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Sin registros</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
 <a class="btn btn-info" href="{{ path('app_nueva_categoria')}}" title="Añadir categoría"><i class="fas fa-plus-circle"></i></a>
{% endblock %}