<div class="dropdown">
    <a class="btn btn-outline-primary dropdown-toggle"
        href="#"
        role="button"
        id="selectorIdioma"
        data-toggle="dropdown">
        {{ idioma_actual }}
    </a>

    <div class="dropdown-menu" aria-labelledby="selectorIdioma">
        {% for lenguaje,nombre_lenguaje in listado_idiomas %}
            <form action="{{
                path(
                    "app_idioma",
                    {
                        "_locale" : lenguaje
                    }
                )
            }}"
            method="POST">
            <input type="hidden" name="ruta" value ="{{ ruta }}" />
            <button 
                type="submit"
                class="btn dropdown-item {{ idioma_actual == lenguaje ? 'active'}}">
                {{ nombre_lenguaje }}
            </button>
            </form>
        {% endfor %}
    </div>
</div>